*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
	font-family: Verdana;
	width: 1280px; 
	height: 3186px;
	margin: 0 auto;

}

		/*Buy It Now*/
.buy-it-now {
	display: flex;
    flex-wrap: wrap;
	width: 100%;

}
.buy-it-now .list{
	width: 100%;
	display: flex;
}


.buy-it-now h2{
	width: 100%;
	text-align: center;
	padding: 1em;

}
.buy-it-now ul{
	list-style: none;
}
 	/*Привязка к "земле"*/
.list{
	align-items: flex-end;
}
		/*Центрирование кнопки*/
.button_center{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	list-style: none;
	font-size: 20px;
}

		/*SKETCH*/
.sketch{
	background-color: #445162;
	color: white;
	border-radius: 10px; 
	width: 100%;
	margin: 10px;
}
.sketch h3{
	text-align: center;
	font-size: 30px;
	padding: 5px;
}
.sketch p{
	background-color: white;
	color: #445162;
	text-align: center;
	font-size: 40px;
	padding: 5px;
	border-right: 2px solid #445162;
	border-left: 2px solid #445162;
}
.sketch ul{
	list-style: decimal;
	margin-left: 40px;
}
.sketch li{
	padding: 5px 0px;
}
.sketch button{
	width: 300px;
	font-size: 20px;
	margin: 0 auto;
}








.standart{

}
