*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
	font-family: Verdana;
	width: 1280px; 
	height: 3186px;

}

		/*Buy It Now*/
.buy-it-now{
	display: flex;
	flex-wrap: wrap;
}
} /*Меняет вид по какой-то причине */
.buy-it-now ul{
	width: 33.33%;
	list-style: none;
}

.buy-it-now h2{ 
	width: 100%;
	text-align: center;
}


		/*SKETCH*/
.sketch{
	background-color: #445162;
	color: white;
	border-radius: 10px; 
	width: 100%;
	margin: 10px;
}
.sketch h3{
	text-align: center;
	font-size: 30px;
	padding: 5px;
}
.sketch p{
	background-color: white;
	color: #445162;
	text-align: center;
	font-size: 40px;
	padding: 5px;
}
.sketch ul{
	list-style: decimal;
	margin-left: 40px;
}
.sketch li{
	padding: 5px 0px;
}
.sketch button{
	width: 300px;
	font-size: 20px;
	margin: 0 auto;
}
/* #push для li что бы убрать маркер счета*/
#push{
	list-style: none; 
}






.standart{

}
