body{
	font-family: Verdana;
	margin: 0 auto;
	width: 1280px; 
	height: 3186px;
}
.about{
	display: flex;
	
}
.about_product{
	width: 60%;
	padding: 1em;
	background-color: darkgray;
	}
.video{
	width: 40%;
	padding-left: 50px;
	background-color: lightgray;
}