
body{
	font-family: Verdana;
	margin: 0 auto;
	width: 1280px; 
	height: 3186px;
}
   		/*01.HEADER*/
   		/*HEADER*/
.header{
	background-color: #445162;
	color: white;
	padding: 3em;
	display: flex;
}
.header li{
	list-style: none;
}
.header ul{
	padding: 0;
} 
		/*Product Name*/
.product_name{
	width: 50%;
}
.product_name h1{
	font-size: 50px;
}
.product_name img{
	margin-right: 8px; 
}
		/*Product Photo*/
.product_photo{
	width: 50%;
	margin-left: 200px;
}
.product_photo img{
	width: 469px;
	height: 214px;
}

		/*02.ABOUT*/
		/*ABOUT*/
.about{
	display: flex;
	padding: 3em;
	color: #333333;
	
}
		/*ABOUT PRODUCT*/
.about_product{
	width: 60%;
	margin-right: 2em; 
}
.about_product h2{
	font-size: 30px;
	color: #445161; 
}
		/*VIDEO*/
.video{
	width: 40%;
}

		/*03.Dignity*/
		/*Dignity*/
.dignity{
	display: flex;
	flex-wrap: wrap;
	padding: 3em;
	background-color: #f5f5f5;
}
.dignity table{
	border-collapse: collapse;
}
.dignity p {
	border-left: 1px solid lightgray;
	padding: 3px;
	margin: 7px;

}
.dignity h2 {
	color: #445161; 

}

.dignity_H2{
	margin: 0 auto; 
	text-align: center;
	font-size: 30px;
	width: 100%;
}
		/*List*/
.list_1{
	width: 50%;
}
.list_2{
	width: 50%;
}
		/*IMG*/
.img_align{
	vertical-align: top;
}

		/*04.Screenshots*/
		/*Screenshots*/
.screenshots{
	display: flex;
	flex-wrap: wrap;
	padding: 3em;
	height: 490px;
	margin: 0 auto;
}
.screenshots h2{
	font-size: 30px;
	width: 100%;
	text-align: center;
	margin: 0;
	color: #445161; 
}
.screenshots h3{
	color: #445161; 
}
		/*Description*/
.description{
	text-align: left;
}
.description img{
	float: left;
	margin-right: 2em;
	width: 200px;
	height: 150px;
	background-color: #445161;
}
		/*Colum*/
.colum_left{
	width: 50%;

}

.Colum_L,.Colum_R{
	margin-right: 10px;
}
.colum_right{
	width: 50%;

}

		/*05.Review*/
		/*For All (form for all "li")*/

	.reviews-section h2{
    text-align: center;
    color: #445161; 
    font-size: 30px;
}
.reviews-section{
	 box-sizing: border-box;
}


	.for-all{
	padding: 2em;
	
	}
	.for-all img{
		float: left;
		width: 75px;
		height: 75px;
		border-radius: 50%;
		background-color: #004B85;
	}
	.for-all p {
		margin-left: 80px;
	}
	.for-all span {
		display: block;
		margin-top: 10px; 
    	margin-left: 80px;
	}


		/*Review list*/


   .reveiws-list {
       display: flex;
       flex-wrap: wrap;
       list-style: none;

   }

   .reveiws-list li {
       width: 50%;
   }

		/*additional*/
   .feedback__name, .list__feedback{
    background-color: lightgray;
  } 

  		/*06.Buy It Now*/

		/*Buy It Now*/
.buy-it-now {
	display: flex;
    flex-wrap: wrap;
	width: 100%;

}
.buy-it-now .list{
	width: 100%;
	display: flex;
}


.buy-it-now h2{
	width: 100%;
	text-align: center;
	color: #445161; 
    font-size: 30px;

}
.buy-it-now ul{
	list-style: none;
}
 	/*Привязка к "земле"*/
.list{
	align-items: flex-end;
	margin: 0 auto;
}
		/*Центрирование кнопки*/
.button_center{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	list-style: none;
	
}

		/*SKETCH*/
.sketch{
	background-color: #445162;
	color: white;
	border-radius: 10px; 
	width: 100%;
	margin: 10px;
}
.sketch h3{
	text-align: center;
	font-size: 30px;
	padding: 5px;
}
.sketch p{
	background-color: white;
	color: #445162;
	text-align: center;
	font-size: 40px;
	padding: 5px;
	border-right: 2px solid #445162;
	border-left: 2px solid #445162;
}
.sketch ul{
	list-style: decimal;
	/*margin-left: 40px;*/
}
.sketch li{
	padding: 10px 0px;
}
.sketch button{
	width: 300px;
	font-size: 20px;
	margin: 0 auto;
	border-radius: 5px;
}
	
	/*07.Contacts*/
	/*Contacts*/
.contacts {
	background-color: #445162;
	display: flex;
    flex-wrap: wrap;
	width: 100%;
	margin-top: 2em;
	margin-bottom: 3em;
	padding-bottom: 20px;
}
.contacts h2{
	width: 100%;
	text-align: center;
	padding: 1em;
	color: white;
}

		/*Feedback*/
.feedback-form{
	margin: 0 auto;
	display: flex;
    flex-wrap: wrap;
	width: 100%;
}

.live-massage, .social_contacts{
	width: 50%;
}

	/*Input*/

.input_field_name, .input_field_email{
	width: 500px;
	height: 40px;
	border-radius: 10px;
	margin: 7px;
}


.input_field_massage{
	width: 500px;
	height: 200px;
	border-radius: 10px;
	margin: 7px;
	padding: 5px;
}

.input_submit_button{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	list-style: none;
	font-size: 20px;
	margin: 7px 0 7px 180px;
	padding: 3px;
	border-radius: 5px;
	width: 140px;
}


	/*Social*/
.social_contacts{
	color: white;
	
}
.social_contacts ul{
	list-style: none;
	margin: 1em;
}
.social_contacts img {
	float: left; 
	margin-right: 10px;

}
.social_contacts a {
	color: white;
	text-decoration: none;
	display: flex;
	margin: 5px 0 5px;
}