*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
	font-family: Verdana;
	width: 1280px; 
	height: 3186px;
	margin: 0 auto;

}

.contacts {
	background-color: #445162;
	display: flex;
    flex-wrap: wrap;
	width: 100%;
}
.contacts h2{
	width: 100%;
	text-align: center;
	padding: 1em;
	color: white;
}


.feedback-form{
	margin: 0 auto;
	display: flex;
    flex-wrap: wrap;
	width: 100%;
}

.live-massage, .social_contacts{
	width: 50%;
}



.input_field_name, .input_field_email{
	width: 500px;
	height: 40px;
	border-radius: 10px;
	margin: 7px;
}


.input_field_massage{
	width: 500px;
	height: 200px;
	border-radius: 10px;
	margin: 7px;
	padding: 5px;
}

.input_submit_button{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	list-style: none;
	font-size: 20px;
	margin: 7px 0 7px 180px;
	padding: 3px;
	border-radius: 5px;
	width: 140px;
}



.social_contacts{
	color: white;
	display: flex;
	
}
.social_contacts img {
	float: left; 

}
.social_contacts a {
	color: white;
	text-decoration: none;
	
}