 * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

	.for-all{
	margin: 2em;
	
	}
	.for-all img{
		float: left;
		width: 75px;
		height: 75px;
		border-radius: 50%;
		background-color: #004B85;
	}
	.for-all p {
		padding-left: 80px;
	}
	.for-all span {
		padding-left: 5px;
	}





   .reveiws-list {
       display: flex;
       flex-wrap: wrap;

       list-style: none;
   }

   .reveiws-list li {
       width: 50%;
   }


    @media screen and (max-width: 768px) {
        .reveiws-list li {
            width: 100%;
        }

        .reviews-section {
            padding: 20px;
        }
    }