 * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

	.for-all{
	padding: 2em;
	
	}
	.for-all img{
		float: left;
		width: 75px;
		height: 75px;
		border-radius: 50%;
		background-color: #004B85;
	}
	.for-all p {
		margin-left: 80px;
	}
	.for-all span {
		display: block;
		margin-top: 10px; 
    margin-left: 80px;
	}





   .reveiws-list {
       display: flex;
       flex-wrap: wrap;

       list-style: none;
   }

   .reveiws-list li {
       width: 50%;
   }

   .feedback__name, .list__feedback{
    background-color: lightgray;
  }


/*
    @media screen and (max-width: 768px) {
        .reveiws-list li {
            width: 100%;
        }

        .reviews-section {
            padding: 20px;
        }
    }*/