body{
	font-family: Verdana;
	margin: 0 auto;
	width: 1280px; 
	height: 3186px;
}

.screenshots{
	display: flex;
	flex-wrap: wrap;
	padding: 3em;
	height: 490px;
	margin: 0 auto;
}
.screenshots h2{
	width: 100%;
	text-align: center;
	margin: 0;
}
.description{
	text-align: left;
}
.description img{
	float: left;
	margin-right: 2em;
	width: 200px;
	height: 150px;
	background-color: #445161;
}
.colum_left{
	width: 50%;

}

.Colum_L,.Colum_R{
	margin-right: 10px;
}
.colum_right{
	width: 50%;

}